<template>
	<div>
		<UIPopover v-model="addItem" trigger="click" placement="bottom" :popper-options="createOptions">
			<UIButton slot="reference" size="sm" color="tertiary" class="py-0 px-2 h-8">
				<span class="text-2xl font-normal">+</span>
				<span class="ml-2">Add</span>
			</UIButton>
			<template>
				<List dense rounded nav>
					<ListHeader inset>Add an Item</ListHeader>
					<template v-for="(item, i) in items">
						<ListItem :key="i" link hover-action @click="next(item.link)">
							<ListIcon><span class="text-2xl font-normal">+</span></ListIcon>
							<ListContent>
								<ListTitle>{{ item.title }}</ListTitle>
							</ListContent>
						</ListItem>
					</template>
				</List>
			</template>
		</UIPopover>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { UIPopover, UIButton } from "@zudoinnovations/edvoy-ui";
import {
	ListAction,
	List,
	ListContent,
	ListHeader,
	ListItem,
	ListIcon,
	ListTitle
} from "@/components/Layouts/List/ListLayout";
@Component({
	components: {
		UIPopover,
		UIButton,
		ListAction,
		List,
		ListHeader,
		ListItem,
		ListIcon,
		ListContent,
		ListTitle
	}
})
export default class AddItem extends Vue {
	addItem = false;
	items = [
		{
			title: "Add Partner",
			link: "/contacts/partners"
		},
		{
			title: "Add Student",
			link: "/contacts/students"
		},
		{
			title: "Add Reports",
			link: "/contacts/partners"
		}
	];
	createOptions = {
		modifiers: [
			{
				name: "offset",
				options: {
					offset: [0, 34]
				}
			},
			{
				name: "computeStyles",
				options: {
					gpuAcceleration: false
				}
			}
		]
	};
	next(link: string) {
		this.$router.push({ path: link });
		this.addItem = false;
	}
}
</script>
