<template>
	<header class="app-header">
		<div class="app-header__container">
			<ul class="app-header__nav">
				<router-link tag="li" to="/" class="app-header__logo">
					<img src="@/assets/images/edvoy-logo.svg" alt="edvoy-logo" />
				</router-link>
				<router-link
					v-for="menu in mainNavigations"
					:key="menu.path"
					:to="menu.path"
					tag="li"
					class="app-header__nav-item"
				>
					{{ menu.title }}
				</router-link>
			</ul>
			<div class="app-header__nav">
				<Search class="app-header__nav-item app-header__nav-item--hover-bg-none" />
				<AddItem class="app-header__nav-item app-header__nav-item--hover-bg-none h-auto" />
				<Notifications class="app-header__nav-item app-header__nav-item--hover-bg-none" />
				<router-link tag="div" to="/settings" class="app-header__nav-item">
					<settings-icon :size="20" />
				</router-link>
				<UserMenu v-if="user" class="app-header__nav-item app-header__nav-item--hover-bg-none" />
			</div>
		</div>
	</header>
</template>

<script lang="ts">
import SettingsIcon from "vue-material-design-icons/Cog.vue";
import { mapGetters } from "vuex";
import UserMenu from "./UserMenu.vue";
import Notifications from "./Notifications.vue";
import AddItem from "./AddItem.vue";
import Search from "./Search.vue";
import { Vue, Component } from "vue-property-decorator";
@Component({
	components: {
		UserMenu,
		Notifications,
		AddItem,
		Search,
		SettingsIcon
	},
	computed: {
		...mapGetters({
			user: "auth/user"
		})
	}
})
export default class AppHeader extends Vue {
	mainNavigations = [
		{
			path: "/dashboard",
			title: "Dashboard",
			value: "dashboard"
		},
		{
			path: "/students",
			title: "students",
			value: "students"
		},
		{
			path: "/partners",
			title: "partners",
			value: "partners"
		},
		{
			path: "/conversations",
			title: "Conversations",
			value: "conversations"
		},
		{
			path: "/news",
			title: "News",
			value: "news"
		},
		{
			path: "/workflow",
			title: "Workflows",
			value: "workflow"
		},
		{
			path: "/reports",
			title: "Reports",
			value: "reports"
		}
	];
}
</script>
<style lang="scss">
@import "./AppHeader.scss";
</style>
