.app-header {
  @apply px-5 bg-grey-600;
  height: 60px;
  &__container {
    @apply flex justify-between h-full;
  }
  &__nav {
    @apply flex items-center h-full;
  }
  &__logo {
    @apply cursor-pointer mr-8;
    width: 64px;
    img {
      width: 64px;
    }
  }
  &__nav-item {
    @apply relative h-full flex text-white items-center px-4 text-sm font-medium capitalize cursor-pointer;
    &::after {
      content: "";
      @apply hidden absolute bottom-0 left-0 right-0 m-auto w-2;
      border: 6px solid transparent;
      border-bottom: 8px solid #fff;
    }
    &:hover,
    &.active,
    &.nuxt-link-active {
      @apply bg-grey-900;
      transition: all 300ms;
    }
    &.active::after {
      @apply block;
    }
    &--hover-bg-none {
      &:hover {
        @apply bg-transparent;
      }
    }
  }
  .nuxt-link-active::after {
    @apply block;
  }
  &__profile--arrow {
    &::before {
      @apply bg-grey-20;
    }
  }
  &__notification-sheet {
    @apply text-grey-600;
    .ui-sheet__header {
      @apply px-6;
    }
  }
}
