<template>
	<div>
		<div @click="sheetOpen = !sheetOpen">
			<notification-icon :size="20" class="h-full" />
		</div>
		<UISheet v-model="sheetOpen" slim class="app-header__notification-sheet" persistent>
			<template #header>Notifications</template>
			<template #body>
				<UITabs v-model="tab">
					<UITab name="oldItems">Your's Notifications</UITab>
					<UITab name="newItems">What's New</UITab>
				</UITabs>
				<UITabPanels v-model="tab">
					<UITabPanel name="oldItems">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, dicta odio repellendus ex
							obcaecati suscipit eos! Dicta ad ab at quidem a facilis quas sint commodi, nemo consequatur
							laboriosam tempora!
						</p>
					</UITabPanel>
					<UITabPanel name="newItems">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, dicta odio repellendus ex
							obcaecati suscipit eos! Dicta ad ab at quidem a facilis quas sint commodi, nemo consequatur
							laboriosam tempora!
						</p>
					</UITabPanel>
				</UITabPanels>
			</template>
		</UISheet>
	</div>
</template>
<script lang="ts">
import { UISheet, UITabPanel, UITabs, UITab, UITabPanels } from "@zudoinnovations/edvoy-ui";
import NotificationIcon from "vue-material-design-icons/Bell.vue";
import { Vue, Component } from "vue-property-decorator";
@Component({
	components: {
		UISheet,
		UITabPanel,
		UITabs,
		UITab,
		UITabPanels,
		NotificationIcon
	}
})
export default class Notification extends Vue {
	sheetOpen = false;
	tab = "newItems";
}
</script>
