<template>
	<div>
		<search-icon />
	</div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import SearchIcon from "vue-material-design-icons/Magnify.vue";
@Component({
	components: {
		SearchIcon
	}
})
export default class Search extends Vue {}
</script>
