<template>
	<div>
		<UIPopover
			v-model="userMenuDropdown"
			trigger="click"
			width="230"
			placement="bottom"
			:popper-options="options"
			popper-arrow-class="app-header__profile--arrow"
		>
			<div slot="reference" class="flex items-center focus:outline-none cursor-pointer">
				<UIAvatar>
					<img :src="user.profilePic ? user.profilePic : require('@/assets/svg/icon-avatar.svg')" alt="" />
				</UIAvatar>
				<down-arrow-icon :size="20" class="text-grey-60 ml-1" />
			</div>
			<template>
				<div class="flex bg-grey-20 px-5 py-4">
					<UIAvatar size="lg">
						<img
							:src="user.profilePic ? user.profilePic : require('@/assets/svg/icon-avatar.svg')"
							alt=""
						/>
					</UIAvatar>
					<div class="pl-3">
						<h6 class="font-medium text-sm">{{ user.name }}</h6>
						<p class="text-xs text-blue-300">{{ user.email }}</p>
					</div>
				</div>
				<div class="px-5 py-6">
					<p class="text-sm pb-1">Role: {{ user.role.name }}</p>
					<p class="text-sm">Branch: Manchester</p>
					<p class="text-xs text-blue-300 mt-4">{{ user.email }}</p>
				</div>
				<div class="flex px-5 py-4 justify-between border-t border-solid border-grey-50">
					<nuxt-link
						to="/settings/manage"
						tag="div"
						class="flex text-grey-600 text-sm font-medium cursor-pointer"
					>
						<SettingsIcon class="pr-1" :size="20" />Settings
					</nuxt-link>
					<div class="text-sm text-grey-200 font-medium cursor-pointer" @click="logOut">
						Log out
					</div>
				</div>
			</template>
		</UIPopover>
	</div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { UIAvatar, UIPopover } from "@zudoinnovations/edvoy-ui";
import DownArrowIcon from "vue-material-design-icons/ChevronDown.vue";
import SettingsIcon from "vue-material-design-icons/Cog.vue";
import { mapGetters } from "vuex";
@Component({
	components: {
		UIAvatar,
		UIPopover,
		SettingsIcon,
		DownArrowIcon
	},
	computed: {
		...mapGetters({
			user: "auth/user"
		})
	}
})
export default class UserMenu extends Vue {
	userMenuDropdown = false;
	options = {
		modifiers: [
			{
				name: "offset",
				options: {
					offset: [-80, 34]
				}
			},
			{
				name: "computeStyles",
				options: {
					gpuAcceleration: false // true by default
				}
			}
		]
	};
	logOut() {
		this.$store.dispatch("auth/logout");
	}
}
</script>
