<template>
	<div class="home">
		<Header />
		<SecondaryHeader :title="subNavigation.title" :items="subNavigation.items" />
		<router-view> </router-view>
	</div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Header from "@/components/App/AppHeader/AppHeader.vue";
import SecondaryHeader from "@/components/App/AppSecondaryHeader/AppSecondaryHeader.vue";
@Component({
	components: {
		Header,
		SecondaryHeader
	}
})
export default class Settings extends Vue {
	subNavigation = {
		title: "Settings",
		items: [
			{ title: "Manage", to: "/settings/manage" },
			{ title: "Productivity", to: "/settings/productivity" },
			{ title: "Account", to: "/settings/account" }
		]
	};
}
</script>
