<template>
	<section class="wrapper wrapper--strecth data-list">
		<UITabs id="tab-header-main" v-model="tab" pill class="pt-6">
			<UITab name="My Profile" @click="changeTab('profile')">My Profile</UITab>
			<UITab data-cy="office" name="offices" @click="changeTab('offices')">Offices</UITab>
			<UITab data-cy="role" name="roles" @click="changeTab('roles')">Roles</UITab>
			<UITab data-cy="teams" name="teams" @click="changeTab('teams')">Teams</UITab>
			<UITab name="peoples" @click="changeTab('peoples')">People</UITab>
		</UITabs>
		<router-view></router-view>
	</section>
</template>

<script lang="ts">
import { UITabPanel, UITabs, UITab, UITabPanels } from "@zudoinnovations/edvoy-ui";
import { Component, Vue, Watch } from "vue-property-decorator";

@Component({
	components: {
		UITabs,
		UITab,
		UITabPanels,
		UITabPanel
	}
})
export default class SettingsManage extends Vue {
	tab = "offices";

	changeTab(tab: string) {
		this.$router.push({ name: `settings-manage-${tab}` });
	}
	@Watch("$route", { immediate: true })
	onUrlChange(newVal: string | any) {
		const routeName = newVal.name.replace("settings-manage-", "").trim();
		this.tab = routeName;
	}
}
</script>
