<template>
  <div>
    <vue-tel-input
      v-bind="$attrs"
      mode="national"
      disabled-formatting
      enabled-country-code
      valid-characters-only
      v-on="$listeners"
      @input="onInput"
    >
      <template #arrow-icon="{ open }">
        <span
          class="ui-tel-input__arrow"
          :class="
            open ? 'ui-tel-input__arrow--top' : 'ui-tel-input__arrow--bottom'
          "
        ></span>
      </template>
    </vue-tel-input>
    <p class="form__error">
      {{ !phone.isValid && phone.number ? "Enter a valid phone number" : "" }}
    </p>
  </div>
</template>

<script>
import { VueTelInput } from "vue-tel-input"
export default {
  name: "UITeleInput",
  components: {
    VueTelInput,
  },
  model: {
    prop: "phoneNumber",
  },
  props: {
    phoneNumber: {
      type: [String, Number],
      default: "",
    },
  },
  data() {
    return {
      phone: {
        number: "",
        valid: false,
        country: undefined,
      },
    }
  },
  methods: {
    onInput(formattedNumber, { number, isValid, country }) {
      this.phone.number = number
      this.phone.isValid = isValid
      this.phone.countrycode = country.dialCode
      this.$emit("input", this.phone.international)
    },
  },
}
</script>
