.app-secondary-header {
  @apply flex items-center border-b border-grey-50;
  height: 48px;
  &__title {
    @apply flex items-center pl-3 text-2xl text-grey-600 font-medium;
  }
  &__nav {
    @apply flex items-center;
  }
  &__nav-list-item {
    @apply relative block text-xs text-grey-300 font-medium uppercase py-4 ml-6 cursor-pointer;
    &::before {
      content: "";
      @apply absolute bottom-0 left-0 w-full bg-grey-600 opacity-0 invisible;
      height: 2px;
      transition: 300ms ease-in-out;
    }
    &--active {
      @apply text-grey-600;
      &::before {
        @apply opacity-100 visible;
      }
    }
  }
}
