<template>
	<nav class="wrapper app-secondary-header">
		<div v-if="title" class="app-secondary-header__title">
			{{ title }}
			<right-arrow-icon class="ml-2 text-grey-70" />
		</div>
		<ul class="app-secondary-header__nav">
			<li v-for="(item, itemIndex) in items" :key="itemIndex" class="app-secondary-header__nav-list">
				<router-link
					:to="item.to"
					class="app-secondary-header__nav-list-item"
					active-class="app-secondary-header__nav-list-item--active"
				>
					<slot name="item" :item="item" :itemIndex="itemIndex">
						{{ item.title }}
					</slot>
				</router-link>
			</li>
		</ul>
	</nav>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import RightArrowIcon from "vue-material-design-icons/ChevronRight.vue";
@Component({
	components: {
		RightArrowIcon
	}
})
export default class AppSecondaryHeader extends Vue {
	@Prop({ type: Array, default: [], required: true })
	readonly items: [];

	@Prop({ type: String, default: "" })
	readonly title: string;
}
</script>

<style lang="scss">
@import "./AppSecondaryHeader.scss";
</style>
