<template>
	<main class="flex flex-col items-center justify-around h-screen bg-grey-900 oauth-login">
		<a class="inline-block inline-block">
			<img src="@/assets/images/edvoycrm-logo.svg" class="h-16" alt="edvoyCRM-logo" />
		</a>
		<img src="@/assets/images/login-bg.svg" alt="banner-pic" />
		<UIButton class="google-login" color="secondary" @click="googleLogin">
			<img src="@/assets/images/google-icon.svg" alt="" />

			<span class="flex-grow">Login with Google</span>
		</UIButton>
		<router-link to="/office"> Office </router-link>
		<p class="text-xs text-blue-100">©{{ new Date().getFullYear() }} Edvoy. All Rights Reserved.</p>
	</main>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { UIButton } from "@zudoinnovations/edvoy-ui";
import { getModule } from "vuex-module-decorators";
import AuthModule from "@/store/modules/auth";
@Component({
	components: {
		UIButton
	}
})
export default class Login extends Vue {
	AuthModuleInstance = getModule(AuthModule, this.$store);
	googleLogin() {
		this.AuthModuleInstance.googleLogin();
	}
}
</script>

<style lang="scss">
.oauth-login {
	.google-login {
		@apply flex h-12 bg-white;
		width: 360px;
		&:active {
			background-color: #fff !important;
		}
	}
}
</style>
