<template>
	<div>
		<header class="data-list__header">
			<div class="relative">
				<UIInput
					v-model="search"
					placeholder="Search all offices"
					class="data-list__search"
					@input="searchData"
				>
					<template #append>
						<search-icon />
					</template>
				</UIInput>
			</div>
			<UIButton color="primary" data-cy="create-office-button" @click="addoffice">Add Office</UIButton>
		</header>
		<UITable
			class="data-list__table"
			footer-class="data-list__table__footer"
			:items="offices.data"
			:headers="columns"
			data-cy="office-table"
			:search="search"
			paginated
			sticky-column
			backend-pagination
			:per-page="perPage"
			:total="total"
			:current-page="currentPage"
			:default-sort-direction="defaultSortOrder"
			:default-sort="sortField"
		>
			<template v-slot:[`item.managedBy.name`]="{ row }">
				<div class="flex items-center">
					<UIAvatar>
						<img
							:src="
								row.managedBy.profilePic
									? row.managedBy.profilePic
									: require('@/assets/svg/icon-avatar.svg')
							"
							alt=""
						/>
					</UIAvatar>
					<p class="pl-3">{{ row.managedBy.name }}</p>
				</div>
			</template>
			<template v-slot:[`item.createdAt`]="{ row }">
				{{ formatDate(row.createdAt) }}
			</template>
			<template v-slot:[`item.status`]="{ row }">
				<UILabel color="success" class="cursor-pointer">
					{{ row.status }}
					<span class="ml-4 caret-down"></span>
				</UILabel>
			</template>
		</UITable>
	</div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import moment from "moment";
import { getModule } from "vuex-module-decorators";
import OfficeModule from "@/store/modules/office";
import { OFFICE, OFFICES } from "@/interfaces/office";
import { mapGetters } from "vuex";
import SearchIcon from "vue-material-design-icons/Magnify.vue";
import { UIInput, UIButton, UITable, UIModal, UISelect, UIAvatar, UILabel } from "@zudoinnovations/edvoy-ui";
@Component({
	computed: {
		...mapGetters({
			offices: "office/getOffices"
		})
	},
	components: {
		UIButton,
		UIInput,
		UITable,
		UIModal,
		UISelect,
		UIAvatar,
		UILabel,
		SearchIcon
	}
})
export default class Office extends Vue {
	offices!: OFFICES;
	OfficeModuleInstance = getModule(OfficeModule, this.$store);
	officeTableRow = [
		{
			value: 15,
			title: "15 per page"
		},
		{
			value: 25,
			title: "25 per page"
		},
		{
			value: 50,
			title: "50 per page"
		}
	];
	selected = null;
	loading = false;
	selectedIndex = null;
	openSheet = false;
	hover = false;
	deletedData: OFFICE = {};
	shiftingOffice = "";
	isOpen = false;
	tableData: OFFICE[] = [];
	search = "";
	columns = [
		{
			value: "name",
			text: "Office Name",
			sortable: true
		},
		{
			value: "managedBy.name",
			text: "managed By",
			sortable: true
		},
		{
			value: "country.name",
			text: "country",
			sortable: true
		},
		{
			value: "address.city.name",
			text: "City",
			sortable: true
		},
		{
			text: "Status",
			value: "status",
			sortable: true
		},
		{
			text: "Created By",
			value: "createdBy.name",
			sortable: true
		},
		{
			text: "Created On",
			value: "createdAt",
			sortable: true
		}
	];
	currentPage = 1;
	perPage = 10;
	offset = 0;
	total = 0;
	sortField = "createdAt";
	sortOrder = "desc";
	defaultSortOrder = "asc";
	isAscending = false;
	formLabel = "Add new office";
	submitLabel = "Save";
	officeId = "";
	officeData: OFFICE;

	get otherThanDelete() {
		return this.tableData.filter(data => data.name !== this.deletedData.name);
	}
	get formatDate() {
		return (date: string) => moment(date).format("ll");
	}
	get firstCharUpper() {
		return (s: string) => `${s.charAt(0)}${s.slice(1).toLowerCase()}`;
	}

	searchData() {
		this.loadAsyncData();
	}

	addoffice() {
		this.formLabel = "Add new office";
		this.submitLabel = "Save";
		this.openSheet = true;
		this.officeData = {};
		this.officeId = "";
	}

	mounted() {
		this.loadAsyncData();
		this.tableData = this.offices.data;
	}

	onSelectPerPage(page: number) {
		if (this.perPage !== page) {
			this.perPage = page;
			this.loadAsyncData();
		}
	}

	loadAsyncData() {
		const skip = this.perPage * (this.currentPage - 1);
		this.loading = true;
		this.OfficeModuleInstance.getOfficeFromServer({
			data: {
				limit: this.perPage,
				skip,
				ascending: this.isAscending,
				orderBy: this.sortField,
				query: {
					name: this.search
				}
			}
		});
	}
}
</script>
