<template>
	<div class="home">
		<img alt="Vue logo" src="../assets/logo.png" />
		<p>People View</p>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class People extends Vue {}
</script>
