<template>
	<div>
		<UISheet v-model="sheetOpen" footer-class="create-sheet__footer" class="create-sheet" persistent>
			<template #header>
				<h2 class="create-sheet__title">{{ formlabel }}</h2>
			</template>
			<template #body>
				<UIStepper v-model="step" vertical animated header-nav>
					<UIStep
						:name="1"
						:title="step > 1 ? step1title : 'Office Details'"
						:caption="form3.managedBy.name ? `Managed by ${form3.managedBy.name}` : ''"
						title-class="create-sheet__form-title"
						caption-class="create-sheet__form-caption"
						:header-class="{ 'create-sheet__title-border': step > 1 }"
						:done="step > 1"
					>
						<div class="create-sheet__form-holder">
							<form-wrapper :validator="$v.form1">
								<form-group name="name" label="Office name" class="mb-4">
									<template #default="{ attrs }">
										<UIInput
											v-model="form1.name"
											data-cy="office-name"
											v-bind="attrs"
											label="Office name"
											type="text"
											@blur="$v.form1.name.$touch()"
										/>
									</template>
								</form-group>
								<form-group name="email" label="Email" class="mb-0">
									<template #default="{ attrs }">
										<UIInput
											v-model="form1.email"
											v-bind="attrs"
											data-cy="office-email"
											label="Email"
											type="email"
											@blur="$v.form1.email.$touch()"
										/>
									</template>
								</form-group>
								<div class="text-xs text-blue-300 mb-4">
									<span class="cursor-pointer"> + Add another email id </span>
								</div>
								<div class="mb-4 relative">
									<UITeleInput
										v-model="form1.contactNumber"
										placeholder="Contact number"
										class="ui-tel-input"
										@validate="phnumberValid"
									/>
									<div class="text-xs text-blue-300">
										<span class="cursor-pointer">
											+ Add another phone number
										</span>
									</div>
								</div>
								<div class="address-group mb-4">
									<form-group name="buildingName" label="Building/Suite Number" class="mb-0">
										<UIInput
											v-model="form1.address.suiteNumber"
											data-cy="office-suitenumber"
											label="Address"
											placeholder="Building/Suite Number"
											type="text"
										/>
									</form-group>
									<form-group
										name="streetName"
										data-cy="office-streetname"
										label="Street name"
										class="mb-0"
									>
										<UIInput
											v-model="form1.address.streetName"
											label="Add street name"
											type="text"
										/>
									</form-group>
									<form-group name="cityStateCountry.name" label="City/State/Country" class="mb-0">
										<template #default="{ attrs }">
											<UISelect
												v-model="form1.cityStateCountry"
												label="name"
												placeholder="City/State/Country"
												v-bind="attrs"
												data-cy="office-country"
												:items="cities"
												:is-invalid="$v.form1.cityStateCountry.name.$error"
												:search-input.sync="searchCities"
												@close="$v.form1.cityStateCountry.name.$touch()"
											>
												<template #header="{ item }">
													{{ `${item.name}, ${item.state_id.name}, ${item.country_id.name}` }}
												</template>
												<template #item="{ item }">
													{{ `${item.name}, ${item.state_id.name}, ${item.country_id.name}` }}
												</template>
												<template #no-items>
													Search for your favorite cities
												</template>
											</UISelect>
										</template>
									</form-group>
								</div>
								<form-group name="Pincode" label="Pincode">
									<template #default="{ attrs }">
										<UIInput
											v-model="form1.address.pincode"
											v-bind="attrs"
											data-cy="office-pincode"
											label="Pincode"
											type="text"
											@blur="$v.form1.address.pincode.$touch()"
										/>
									</template>
								</form-group>
							</form-wrapper>
							<div class="mt-4">
								<UIButton
									:disabled="$v.form1.$invalid || !phoneValid"
									color="primary"
									data-cy="office-step1"
									@click="step = 2"
									>Next</UIButton
								><UIButton color="text" class="ml-3" @click="cancelStep1">Cancel</UIButton>
							</div>
						</div>
					</UIStep>

					<UIStep
						:name="2"
						title="Departments"
						:caption="form3.departments.length ? `${form3.departments.length} selected in this office` : ''"
						title-class="create-sheet__form-title"
						caption-class="create-sheet__form-caption"
						:header-class="{ 'create-sheet__title-border': step > 2 }"
						:done="step > 2"
					>
						<div class="create-sheet__form-holder">
							<form-wrapper :validator="$v.form2">
								<ul>
									<li v-for="item in departmentsItems" :key="item.label">
										<UICheckbox
											v-model="form3.departments"
											:value="item.label"
											:data-cy="item.label"
											><span class="text-sm text-grey-600">{{ item.label }}</span></UICheckbox
										>
									</li>
								</ul>
							</form-wrapper>
							<div>
								<UIButton
									:disabled="$v.form3.departments.$invalid"
									color="primary"
									data-cy="office-step2"
									@click="step = 3"
									>Next</UIButton
								><UIButton color="text" class="ml-3" @click="sheetOpen = false">Cancel</UIButton>
							</div>
						</div>
					</UIStep>

					<UIStep
						:name="3"
						title="Status"
						title-class="create-sheet__form-title"
						caption-class="create-sheet__form-caption"
					>
						<div class="create-sheet__form-holder create-sheet__form-holder--final-step">
							<form-wrapper :validator="$v.form3">
								<div class="flex w-full">
									<div class="w-1/2 pr-3">
										<form-group
											name="businessUnitType"
											data-cy="office-unit"
											label="Office Type"
											class="mb-4"
										>
											<UISelect
												v-model="form3.businessUnitType"
												label="label"
												placeholder="Office type"
												:items="businessUnitTypeItems"
											>
												<template #item="{ item }">
													{{ `${item.label}` }}
												</template>
											</UISelect>
										</form-group>
									</div>
									<div v-if="form3.businessUnitType.label === 'Franchise'" class="w-1/2 pl-3">
										<form-group name="partner.name" label="Partners">
											<template #default="{ attrs }">
												<UISelect
													v-model="form3.partner"
													v-bind="attrs"
													:items="partnerItems"
													data-cy="office-partner"
													label="name"
													placeholder="Partners"
													:is-invalid="$v.form3.partner.name.$error"
													:search-input.sync="searchPartner"
													@close="$v.form3.partner.name.$touch()"
												>
													<template #item="{ item }">
														{{ `${item.name}` }}
													</template>
												</UISelect>
											</template>
										</form-group>
									</div>
								</div>
								<form-group name="managedBy.name" label="Managed by">
									<template #default="{ attrs }">
										<UISelect
											v-model="form3.managedBy"
											v-bind="attrs"
											label="name"
											placeholder="Managed by"
											data-cy="office-managedBy"
											:items="managedByItems"
											:is-invalid="$v.form3.managedBy.name.$error"
											:search-input.sync="searchUser"
											@close="$v.form3.managedBy.name.$touch()"
										>
											<template #header="{ item }">
												{{ `${item.name}, ${item.role.name}` }}
											</template>
											<template #item="{ item }">
												{{ `${item.name}, ${item.role.name}` }}
											</template>
										</UISelect>
									</template>
								</form-group>
								<UIAlert :closeable="false" class="mb-4" color="info">
									<div class="flex">
										<div>
											<h5 class="font-bold mr-4">{{ statusValue }}</h5>
											<p class="pr-4">
												This shows that the office is {{ statusValue }} and working under safe
												and controlled manner
											</p>
										</div>
										<UISwitch v-model="form3.status" />
									</div>
								</UIAlert>
							</form-wrapper>
						</div>
					</UIStep>
				</UIStepper>
				<UIAlert v-if="isalert" :closeable="false" class="mb-4" color="success"
					><h5 class="font-bold mr-4">{{ alertmessage }}</h5>
				</UIAlert>
			</template>
			<template v-if="step === 3" #footer>
				<div>
					<UIButton
						:disabled="$v.form1.$invalid || $v.form3.$invalid || !phoneValid || formSubmit"
						color="primary"
						data-cy="office-submit"
						@click="submit"
					>
						<span v-if="!formSubmit">Save</span>
						<UISpinner v-else :loading="formSubmit" size="18" /> </UIButton
					><UIButton v-if="!formSubmit" color="text" class="ml-3" @click="cancelStep1">Cancel</UIButton>
				</div>
			</template>
		</UISheet>
		<OfficeConfirmationModal v-model="officeCreateConfirmModal" @confirm="officeCreateConfirmation" />
	</div>
</template>

<script lang="ts">
import { Component, Vue, Model, Prop } from "vue-property-decorator";
import UITeleInput from "@/components/common/vue-tel-input.vue";
import { OFFICE } from "@/interfaces/office";
interface BUSINESSUNIT {
	label: string;
	value: string;
}
import {
	UIInput,
	UIButton,
	UISheet,
	UISelect,
	UICheckbox,
	UIAlert,
	UIStepper,
	UIStep,
	UISwitch,
	UISpinner
} from "@zudoinnovations/edvoy-ui";
import { required, minLength, maxLength, email } from "vuelidate/lib/validators";
@Component({
	components: {
		UITeleInput,
		UIInput,
		UIButton,
		UISheet,
		UISelect,
		UICheckbox,
		UIAlert,
		UIStepper,
		UIStep,
		UISwitch,
		UISpinner
	},
	validations: {
		form1: {
			name: {
				required,
				minLength: minLength(1),
				maxLength: maxLength(50)
			},
			email: {
				required
			},
			cityStateCountry: {
				name: {
					required
				}
			}
		}
	}
})
export default class OfficeCreate extends Vue {
	@Model("toggle", { type: String }) readonly toggled!: boolean;

	@Prop({ type: String, default: "Save" })
	readonly submitlabel: string;

	@Prop({ type: String, default: "Add Office" })
	readonly formlabel: string;

	@Prop({ type: String, default: null })
	readonly officeid: string;

	@Prop({ type: Object, default: null })
	readonly officedata: OFFICE;

	officeCreateConfirmModal = false;
	step = 1;
	phoneValid = false;
	formSubmit = false;
	checkbox1 = true;
	isalert = false;
	alertmessage = "";
	searchCities = "";
	searchPartner = "";
	searchUser = "";
	managedByItems = [];
	managedBy = "";
	businessUnitType = "";
	departments = "";
	businessUnitTypeItems: BUSINESSUNIT[] = [
		{ label: "Self-Owned", value: "SELFOWNED" },
		{ label: "Franchise", value: "FRANCHISE" }
	];
	partnerItems = [{ _id: "5fc88f9526476e7d9757e60e", name: "Still not Implemented" }];
	statusItems = ["ACTIVE", "INACTIVE"];
	cities = [];
	form1 = {
		cityStateCountry: "",
		name: "",
		email: "",
		contactNumber: "",
		country: {
			name: "",
			id: ""
		},
		state: {
			name: "",
			id: ""
		},
		address: {
			streetName: "",
			city: {
				name: "",
				id: ""
			},
			pincode: "",
			suiteNumber: ""
		}
	};
	form3 = {
		managedBy: "",
		departments: [],
		businessUnitType: { label: "Self-Owned", value: "SELFOWNED" },
		partner: "",
		status: true
	};
	form2 = {};
	form = {};
}
</script>
