<template>
	<div>
		<vue-tel-input
			v-bind="$attrs"
			mode="national"
			disabled-formatting
			enabled-country-code
			valid-characters-only
			v-on="$listeners"
			@input="onInput"
		>
			<template #arrow-icon="{ open }">
				<span
					class="ui-tel-input__arrow"
					:class="open ? 'ui-tel-input__arrow--top' : 'ui-tel-input__arrow--bottom'"
				></span>
			</template>
		</vue-tel-input>
		<p class="form__error">
			{{ !phone.isValid && phone.number ? "Enter a valid phone number" : "" }}
		</p>
	</div>
</template>
<script lang="ts">
import { Component, Vue, Model } from "vue-property-decorator";
import { VueTelInput } from "vue-tel-input";
@Component({
	components: {
		VueTelInput
	}
})
export default class VueTel extends Vue {
	@Model("onInput", { type: String }) readonly phoneNumber!: string;

	phone = {
		number: "",
		isValid: false,
		countrycode: undefined,
		international: ""
	};

	onInput(formattedNumber: string, { number, isValid, country }: { number: string; isValid: boolean; country: any }) {
		this.phone.number = number;
		this.phone.isValid = isValid;
		this.phone.countrycode = country.dialCode;
		this.$emit("input", this.phone.international);
	}
}
</script>
