<template>
	<div class="list-item__content"><slot /></div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
@Component
export default class ListContent extends Vue {}
</script>
