<template>
	<div class="list-item_subtitle"><slot /></div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
@Component
export default class ListSubTitle extends Vue {}
</script>
