<template>
	<component :is="tag" v-bind="$attrs" :class="listItemClasses" v-on="$listeners">
		<slot />
	</component>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
@Component
export default class ListItem extends Vue {
	@Prop({ type: String, default: "div" })
	readonly tag: string;

	@Prop({ type: Boolean, default: false })
	readonly link: boolean;

	@Prop({ type: Boolean, default: false })
	readonly hoverAction: boolean;

	get listItemClasses() {
		return {
			"list-item": true,
			"list-item--link": this.link,
			"list-item--hover-action": this.hoverAction
		};
	}
}
</script>
