<template>
	<div class="list-item__action"><slot /></div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
@Component
export default class ListAction extends Vue {}
</script>
