<template>
	<div :class="listClasses"><slot /></div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
@Component
export default class List extends Vue {
	@Prop({ type: Boolean, default: false })
	readonly dense: boolean;

	@Prop({ type: Boolean, default: false })
	readonly rounded: boolean;

	@Prop({ type: Boolean, default: false })
	readonly roundedFull: boolean;

	@Prop({ type: Boolean, default: false })
	readonly nav: boolean;

	get listClasses() {
		return {
			list: true,
			"list--dense": this.dense,
			"list--rounded": this.rounded,
			"list--rounded-full": this.roundedFull,
			"list--nav": this.nav
		};
	}
}
</script>

<style lang="scss">
@import "List";
</style>
