.list {
  $this: &;
  &__header {
    @apply text-sm text-grey-900 font-medium py-2;
    &--inset {
      @apply pl-2;
    }
  }
  &-item {
    @apply px-2 flex flex-1 items-center transition-colors duration-500 ease-in-out;
    min-height: 48px;
    &__icon {
      @apply flex justify-start items-center mr-3;
    }
    &__content {
      @apply flex flex-col flex-grow flex-shrink justify-center self-center items-start h-full py-2 overflow-hidden;
    }
    &__title {
      @apply text-sm text-grey-600 font-medium transition-colors duration-500 ease-in-out;
    }
    &--hover-action {
      #{$this}-item__title {
        @apply text-grey-200;
      }
      &:hover {
        @apply bg-grey-30;

        #{$this}-item__title {
          @apply text-grey-600;
        }
      }
    }
    &__subtitle {
      @apply text-xs text-grey-200;
    }
    &__action {
      @apply flex justify-end;
    }
    &--link {
      @apply cursor-pointer;
    }
  }
  &--nav {
    @apply p-2;
  }
  &--dense {
    #{$this}-item {
      min-height: 38px;
    }
  }
  &--rounded {
    #{$this}-item {
      @apply rounded;
    }
    &-full {
      #{$this}-item {
        @apply rounded-full;
      }
    }
  }
}
