<template>
	<div :class="listHeaderClasses"><slot /></div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
@Component
export default class ListHeader extends Vue {
	@Prop({ type: Boolean, default: false })
	readonly inset: boolean;

	get listHeaderClasses() {
		return {
			[`list__header`]: true,
			"list__header--inset": this.inset
		};
	}
}
</script>
