<template>
	<div id="app">
		<router-view />
	</div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
// import { mapGetters } from "vuex";
// import { getModule } from "vuex-module-decorators";
// import NavigationModule from "@/store/modules/navigation";
// import Header from "@/components/App/AppHeader/AppHeader.vue";
// import SecondaryHeader from "@/components/App/AppSecondaryHeader/AppSecondaryHeader.vue";

// @Component({
// 	components: {
// 		Header,
// 		SecondaryHeader
// 	},
// 	computed: {
// 		...mapGetters({
// 			hasTopNavigationSubNavs: "navigation/hasTopNavigationSubNavs",
// 			subNavigation: "navigation/getSubNavigationItems"
// 		}),
// 		picture() {
// 			return "";
// 		}
// 	}
// })
@Component
export default class App extends Vue {
	// NavigationModuleInstance = getModule(NavigationModule, this.$store);
	// @Watch("$route", { immediate: false, deep: false })
	// onUrlChange(newVal: string | any) {
	// 	this.NavigationModuleInstance.setCurrentRouteNameAction(newVal.name);
	// }
}
</script>
